.container.js-turbolinks-get-form
  .row
    .col-lg-6.mb-3
      .card
        .card-body
          %h3.card-title
            = @recipe.title
            - if current_user == @recipe.user
              = link_to "Edit #{@recipe.model_name.human}", [:edit, @recipe], class: "btn btn-secondary" 
          %h6.card-subtitle= @recipe.short_description
          .list-group.list-group-horizontal
            .list-group-item.flex-fill.w-50.text-right
              = Recipe.human_attribute_name(:servings)
            .list-group-item.flex-fill.w-50
              = form_with method: "get" do |f|
                = f.text_field :servings_change, class: "form-control", value: @recipe.servings_change
          .list-group.list-group-horizontal
            .list-group-item.flex-fill.w-50.text-right
              = Recipe.human_attribute_name(:cook_time_in_minutes)
            .list-group-item.flex-fill.w-50
              = @recipe.cook_time_in_minutes
          .list-group.list-group-horizontal
            .list-group-item.flex-fill.w-50.text-right
              = Recipe.human_attribute_name(:prep_time_in_minutes)
            .list-group-item.flex-fill.w-50
              = @recipe.prep_time_in_minutes
          .list-group.list-group-horizontal
            .list-group-item.flex-fill.w-50.text-right
              = Recipe.human_attribute_name(:user)
            .list-group-item.flex-fill.w-50
              = @recipe.user.name || @recipe.user.email
                
    .col-lg-6.mb-3
      .card
        .card-body
          %h5.card-title= Recipe.human_attribute_name(:directions)
          %p= @recipe.directions
  
  .row
    .col-lg-6
      .card
        .card-body
          %h3.card-title= Ingredient.model_name.human.pluralize
          .row
            .col-4.border-bottom.pb-1
              = Ingredient.model_name.human
            .col-4.border-bottom.pb-1
              = IngredientsRecipe.human_attribute_name(:servings)
            .col-4.border-bottom.pb-1
              = IngredientsRecipe.human_attribute_name(:measurement)
          .row
            - @recipe.ingredients_recipes.each do |ingredients_recipe|
              .col-4.border-bottom.pb-1
                = ingredients_recipe.ingredient.name
              .col-4.border-bottom.pb-1
                = ingredients_recipe.servings * @recipe.servings_change
              .col-4.border-bottom.pb-1
                = ingredients_recipe.measurement
                
    .col-lg-6
      .card
        .card-body
          %h3.card-title= "#{Nutrient.model_name.human.pluralize} per serving"
          .row
            .col-6.border-bottom.pb-1
              = Nutrient.model_name.human
            .col-6.border-bottom.pb-1
              Amount
          .row
            - @recipe.nutrients_data(params[:show_more_nutrients]).each do |name, amount|
              .col-6.border-bottom.pb-1
                = name
              .col-6.border-bottom.pb-1
                = "#{amount[:amount]}, #{amount[:unit_name]}"
        - unless params[:show_more_nutrients]
          = form_with method: "get" do |f|
            = f.hidden_field :show_more_nutrients, class: "form-control", value: true
            = f.submit "Show More", class: "btn btn-secondary"
        - else
          = form_with method: "get" do |f|
            = f.submit "Show Less", class: "btn btn-secondary"

  .row
    .col-6
      #recipeImages.carousel.slide{ data: { ride: "carousel" } }
        %ol.carousel-indicators
          - @recipe.images.size.times do |i|
            %li{ data: { target: "#recipeImages", "slide-to": i }, class: i.zero? ? "active" : nil }
        .carousel-inner
          - @recipe.images.each_with_index do |image, i|
            - classes = "carousel-item"
            - classes += " active" if i.zero?
            %div{ class: classes }
              = image_tag(image.variant(resize_to_limit: [500, 500]), class: "d-block img-fluid")
        %a.carousel-control-prev{"data-slide" => "prev", :href => "#recipeImages", :role => "button"}
          %span.carousel-control-prev-icon{"aria-hidden" => "true"}
          %span.sr-only Previous
        %a.carousel-control-next{"data-slide" => "next", :href => "#recipeImages", :role => "button"}
          %span.carousel-control-next-icon{"aria-hidden" => "true"}
          %span.sr-only Next
